h1 {
    font-size: 3em;
    font-family: Arial;
    text-align: center;
    color: black;
}

h2 {
    font-size: 2.2em;
    font-style: bold;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.1em;
}

img {
    display: block;
  margin-left: auto;
  margin-right: auto;
}

:root > * {
    --md-code-fg-color: #000000;
    --md-code-hl-constant-color: ##87CEFA;
  }

.md-grid {
max-width: 1500px; 


}